<nav class="bg-dark">
    <div class="container">
        <ul class="nav">
            <li><a href="#" class="nav-item">
                    WILLIAM LEE
                </a></li>
            <li><a href="#" class="nav-item">
                    BASED IN TAIWAN
                </a></li>
            <li><a href="#" class="nav-item">
                    CURRENTLY FRONT END <br>ENGINEER AT HEXSCHOOL
                </a></li>
            <li><a href="#" class="nav-item">
                    CONTACT ME
                </a></li>
        </ul>
    </div>
</nav>