.avatar {
  width: 636px;
  height: 848px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/people.png?raw=true);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-sea {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sparkle-sm {
  width: 32px;
  height: 98px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/sparkle-sm.png?raw=true);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sparkle {
  width: 196px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/sparkle.png?raw=true);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.photographer {
  width: 196px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/photographer.png?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.people-2 {
  width: 306px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/people-2.png?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-item {
  padding: 16px;
  width: calc((636px - 24px)/2 - 16px * 2 - 1px * 2);
  border: 1px solid #E3E3E3;
  box-shadow: 4px 4px 4px 0 rgba($color: #000000, $alpha: 0.08);
}

.bg-gradient {
  background: linear-gradient(0deg, rgba(1, 2, 30, 1) 89%, rgba(5, 0, 20, 1) 100%);
}

.contact{
  &-arrow {
    width: 100px;
    height: 100px;
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/trending_flat_black_24dp%201.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-discord{
    background-image: url(https://github.com/hd1313169/hex_fe_week2_2023/blob/main/assets/images/discord.png?raw=true);

    &:hover{
      box-shadow: 0px 0px 16px 3px rgba($color: #9094FF, $alpha: 0.9);;
    }
  }

  &-instagram{
    background-image: url(https://github.com/hd1313169/hex_fe_week2_2023/blob/main/assets/images/instagram.png?raw=true);
    
    &:hover{
      box-shadow: 0px 0px 16px 3px rgba($color: #E12c6a, $alpha: 0.9);;
    }
  }
  &-message{
    background-image: url(https://github.com/hd1313169/hex_fe_week2_2023/blob/main/assets/images/message.png?raw=true);
    
    &:hover{
      box-shadow: 0px 0px 16px 3px rgba($color: #00DD50, $alpha: 0.9);;
    }
  }

  &-item{
    display: block;
    width: 162px;
    height: 162px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
  }
}