.avatar{
  width: 636px;
  height: 848px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/people.png?raw=true);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-sea{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sparkle-sm{
  width: 32px;
  height: 98px;
  background-image: url(  https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/sparkle-sm.png?raw=true);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sparkle{
  width: 196px;
  background-image: url(  https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/sparkle.png?raw=true);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.photographer{
  width: 196px;
  background-image: url(  https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/photographer.png?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.people-2{
  width: 306px;
  background-image: url(  https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/people-2.png?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}