.container{
    width: 1296px;
    margin: 0 auto;
}

// display
.d-block{
    display: block;
}
.d-flex{
    display: flex;
}
.justfy-between{
justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}
.flex-column{
    flex-direction: column;
}
// spacing
.w-526{
    width: 526px;
}
.w-636{
    width: 636px;
}
.mx-auto{
    margin: 0 auto;
}
.ml-auto{
    margin-left: auto;
}
.ml-4{
    margin-left: 4px;
}
.mr-16{
    margin-right: 16px;
}
.mr-24{
    margin-right: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-36{
    margin-bottom: 36px;
}
.py-72{
    padding: 72px 0;
}
.py-160{
    padding: 160px 0;
}

// background
.bg-dark{
    background-color: #000;
}
.bg-light{
    background-color: #fff;
}

// font
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-primary{
    color: #00FFA3;
}
.text-light{
    color: #fff;
}

.fs-24{
    font-size: 1.5rem;
}

.fs-64{
    font-size: 4rem;
}
.fs-128{
    font-size: 8rem;
}

.nav-item{
    color: #fff;

    &:hover{
        text-decoration: underline;
        font-weight: bold;
    }
}